<% include('partials/header.ejs') %>

    <% games.forEach(v => { %>
            <main class="each-game">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="<%=v.img %>" height="100" />
                        </div>
                        <div class="col title">
                            <h1><%=v.title %></h1>
                        </div>
                        <div class="col">
                            <a href="/games/<%=v.id %>/view" class="btn btn-info">View</a>
                            <form action="/games/<%=v.id %>?_method=DELETE" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>

                        </div>
                    </div>
                </div>
            </main>
                <% }) %>
                <a href="/games/add" class="add buttons">Add New Game</a>

    <!-- <form of search bar that goes to an /:search route and sumbit button
    const myArray = [res.data.name,res.data.cover,]
    Games.find({$includes arrayName})
    add an array into your objects of #'s {name: name} saying that  -->

