<h1>GamerList</h1>
<h2>Owned</h2>
<main class="container">
    
    <% games.forEach(v => { %>
            <%=v.name %>
            <form action="/games/<%=v.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>

            <a href="/games/<%=v.id %>/view" class="view buttons">View</a>
        </div>

    <% }) %>
        <a href="/games/add" class="add buttons">Add New Game</a>
</main>