<link rel="stylesheet" href="/styles.css"/>

<h1><%=title %></h1>

<main class="container">
    <div class="each-game" id="owned">

        <div class="game-img">
            <img src="<%=img %>" height="150"/>
        </div>

        <section class="checkboxes">
            <p>Owned? </p>
            <p id="inprogress">In-Progress </p>
            <div class="checked-img"></div>


            <p>Complete </p>
        </section>

        <section class="other-info">
            <p>Creator: </p>
            <p>Release Date: </p></br>
            <p>Tags: </p></br>
        </section>
        <section>
            <p>Game Notes:</p>
            <article class="notes">
                <p></p>
            </article>
        </section>
    </div>
    <a href="/games/<%=id%>/edit">Edit</a>
    <a href="/games">Back</a>
</main>