<% include('partials/header.ejs') %>

<% games.forEach(v => { %>
        <main class="each-game">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="<%=v.background_image %>" height="100" />
                    </div>
                    <div class="col name">
                        <h1><%=v.name %></h1>
                    </div>
                    <div class="col">
                        <a href="/games/<%=v.id %>/view" class="btn btn-info">View</a>
                        <form action="/games/<%=v.id %>?_method=DELETE" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </main>
<% }) %>
