.row {
	border: 1px solid black;
}
.col {
	border: 1px solid black;
}
.material-symbols-outlined {
	font-size: 100px;
	color: rgb(55,11,179);
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
	
}
.view, .edit {
    padding: 30px;
    border: 1px solid rgb(98,19,238);
	border-radius: 5px;
	margin: 30px;
	background-color:rgb(44,44,44)
}
.name {
	padding: 20px;
	color: rgb(165,145,221)
}
.gamenotes {
	text-align: left;
	margin-bottom: 0;
}
.notes {
    border: 2px solid black;
	height: 200px;
}